main {
	display: flex;
	min-height: 100vh;
}

.currency-table {
	margin: auto;
	color: white;
}

.font-normal {
	font-weight: 400;
}

.text-center {
	text-align: 'center';
}

.text-lg {
	font-size: 1.2rem;
}

th,
td {
	padding: 5px;
}
